.constructor_box {
    display: flex;
    flex-direction: column;
    width: 600px;
    box-sizing: border-box;
}

.constructor_container {
    width: 100%;
    height: 100%;
}

.constructor_list {
    display: flex;
    flex-direction: column;
    padding: 0 8px 0 0;
    row-gap: 16px;
    max-height: 464px;
    overflow-y: scroll;
}

.total {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 64px;
    gap: 16px;
}