.ingredients_box {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.ingredients {
    max-height: 716px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px 0;
}